body {
    background-color: black;
}
h1 {
    background-color: black;
    color: aqua
}
tr {
    color: aqua;
    font-family: sans-serif
}
img {
    height: 100px;
    width: 100px
}
td {
    border: 3px solid;
    padding: 15px;
        background color: black;
    color: aqua;
    font size: 150%;
    font-family: sans-serif
}
